/* specific to this site */

:root
{
    --accent-color: #b4def2;
    --theme-color: #008;
    --theme-font-color: #fff;
    --negative-color: #fff;
}

.div-chart > div
{
    height: unset !important;
    position: unset !important;
    width: 100% !important;
}

.radio-toolbar
{
    background-color: var(--accent-color);
    border-radius: 0pt;
    border-style: none;
    padding: 5pt;
    text-align: center;
}

.radio-toolbar input
{
    visibility: hidden;
}

.radio-toolbar-selected
{
    box-shadow: 0 0 5px black inset;
}

.h1
{
    background-color: var(--theme-color);
    color: var(--theme-font-color);
}

.table
{
    text-align: center;
}

.table thead
{
    background-color: var(--theme-color);
    color: var(--theme-font-color);
}

.table tr:nth-child(even)
{
    background-color: #b4def2;
}

.table tr:hover
{
    background-color: #ddd;
}
